.pageA4 {
  height: 297mm;
  width: 210mm;
  background-color: darkslateblue;

  .card {

    &-img {
      padding-top: 1mm;
      padding-left: 2mm;
      padding-right: 2mm;
      width: 180mm;
      height: 50mm;
    }

    .item {
      &-avatar {
        position: absolute;
        height: 100px;
        width: 80px;
      }
    }
  }
}
