<div class="pageA4Portrait" *ngFor="let page of pages">
  <div class="card" *ngFor="let item of page.pageContent" [ngSwitch]="item.departmentCode">
    <ng-container>
      <img
        *ngSwitchCase="enum.ATN"
        src="../assets/background/ATN.jpg"
        class="card__img"
      />
      <img
        *ngSwitchCase="enum.BD"
        src="../assets/background/BD.jpg"
        class="card__img"
      />
      <img
        *ngSwitchCase="enum.BDS"
        src="../assets/background/BĐS.jpg"
        class="card__img"
      />
      <img
        *ngSwitchCase="enum.BRC"
        src="../assets/background/BRC.jpg"
        class="card__img"
      />
      <img
        *ngSwitchCase="enum.BV"
        src="../assets/background/BV.jpg"
        class="card__img"
      />
      <img
        *ngSwitchCase="enum.CD"
        src="../assets/background/CĐ.jpg"
        class="card__img"
      />
      <img
        *ngSwitchCase="enum.CH"
        src="../assets/background/CH.jpg"
        class="card__img"
      />
      <img
        *ngSwitchCase="enum.CT"
        src="../assets/background/CT.jpg"
        class="card__img"
      />
      <img
        *ngSwitchCase="enum.HD"
        src="../assets/background/HD.jpg"
        class="card__img"
      />
      <img
        *ngSwitchCase="enum.HD1"
        src="../assets/background/HĐ1.jpg"
        class="card__img"
      />
      <img
        *ngSwitchCase="enum.HD2"
        src="../assets/background/HĐ2.jpg"
        class="card__img"
      />
      <img
        *ngSwitchCase="enum.HDTN"
        src="../assets/background/HĐTN.jpg"
        class="card__img"
      />
      <img
        *ngSwitchCase="enum.HMS"
        src="../assets/background/HMS.jpg"
        class="card__img"
      />
      <img
        *ngSwitchCase="enum.KSD"
        src="../assets/background/KSĐ.jpg"
        class="card__img"
      />
      <img
        *ngSwitchCase="enum.MT"
        src="../assets/background/MT.jpg"
        class="card__img"
      />
      <img
        *ngSwitchCase="enum.NSDL"
        src="../assets/background/NSĐL.jpg"
        class="card__img"
      />
      <img
        *ngSwitchCase="enum.TGN"
        src="../assets/background/TGN.jpg"
        class="card__img"
      />
      <img
        *ngSwitchCase="enum.TGT"
        src="../assets/background/TGT.jpg"
        class="card__img"
      />
      <img
        *ngSwitchCase="enum.TK"
        src="../assets/background/TK.jpg"
        class="card__img"
      />
      <img
        *ngSwitchCase="enum.TKY"
        src="../assets/background/TKY.jpg"
        class="card__img"
      />
      <img
        *ngSwitchCase="enum.TN"
        src="../assets/background/TN.jpg"
        class="card__img"
      />
      <img
        *ngSwitchCase="enum.VN"
        src="../assets/background/VN.jpg"
        class="card__img"
      />
      <img
        *ngSwitchCase="enum.XE"
        src="../assets/background/XE.jpg"
        class="card__img"
      />
    </ng-container>

    <span class="card__code">{{ item.registerCode }}</span>
    <h3 class="card__religiousName">{{ item.religiousName }}</h3>
    <h3 class="card__fullName">{{ item.fullName }}</h3>

    <img src="{{ item.avatarPath }}" class="card__avatar" />
    <span class="card__organzationStucture">{{
      item.organzationStuctureName
    }}</span>

    <div class="card__qrcode">
      <qrcode [width]="90" qrdata={{item.qrCodeLink}} [errorCorrectionLevel]="'H'"></qrcode>
    </div>
  </div>
  
  <div class="no">{{page.pageNo}}</div>
</div>
