.pageA4Portrait {
  width: 210mm;
  height: 297mm;
  background: #59c173; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5d26c1,
    #a17fe0,
    #59c173
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5d26c1,
    #a17fe0,
    #59c173
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 5px;
  margin: 0 auto;
  border: 1px solid white;

  display: flex;
  flex-direction: column;

  position: relative;

  .card {
    position: relative;
    width: 180mm;
    height: 50mm;
    margin-bottom: 5px;

    font-family: "Times New Roman", Times, serif;

    &__img {
      position: absolute;
      // width: 180mm;
      // height: 50mm;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      padding-top: 10px;
      padding-left: 10px;
      object-fit: cover;
    }

    &__code {
      position: absolute;
      top: 14%;
      left: 25%;
      z-index: 2;

      color: black;
      font-size: 13px;
    }

    &__religiousName {
      position: absolute;
      top: 42%;
      left: 8%;
      z-index: 4;

      color: black;
      font-size: 20px;
      font-weight: 700;
    }

    &__fullName {
      position: absolute;
      top: 57%;
      left: 8%;
      z-index: 5;

      color: black;
      font-size: 20px;
      font-weight: 700;
    }

    &__avatar {
      position: absolute;
      top: 32%;
      left: 37%;
      height: 90px;
      width: 80px;
      z-index: 2;

      border: 1px solid gray;
    }

    &__organzationStucture {
      position: absolute;
      top: 92%;
      left: 25%;
      z-index: 3;

      color: white;
      font-size: 13px;
    }
  }

  .no {
    color: white;
    position: absolute;
    bottom: 5px;
    right: 50%;
    z-index: 10;
    background-color: rgba(255, 0, 0, 0.4);
    height: 20px;
    width: 50px;
    text-align: center;
  }
}

@media print {
  .no {
    display: none;
  }
}
